.container{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  height: inherit;
  flex-direction: column;
  align-items: center;
  
  /* border: solid red 1px; */
}

.movieContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #F2994A ;
  border-color: #F2994A ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #F2994A ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #F2994A ;
  border-color: #F2994A;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #F2994A
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

